* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: darkcyan;
    width: 95vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
}
.chat-thread {
    background-color: #d4c889;
    height: 95%; /* Ensure a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.1rem;
}

.message-input {
    background-color: lightslategray;
    display: flex;
    justify-content: space-between;
}
.message-input_field {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
}

.message-input_button {
    width: 20%;
    font-size: 1.5rem;
}

.bubble {
    padding: 1.2rem;
    border-radius: 1.1rem;
    color: white;
}

.blue-bubble {
    background-color: #1b56e0;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.gray-bubble {
    background-color: #464f59;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}